<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-for指令用法</h1>
<hr>
<p>v-for 循环</p>
<div id="app">
    <ul>
        <li v-for="item in items">
            {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <!--<li v-for="(student,index) in sortStudent">-->
            <!--{{index+1}}：{{student.name}} - {{student.age}}-->
        <!--</li>-->
        <!--想加上序号 (student,index)-->
        <!--排序-->
        <li v-for="(student,index) in sortStudent">
            {{index}}-{{student.name}}-{{student.age}}

        </li>
    </ul>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            items:[20,23,18,7,32,19,54,56,41],
            students:[
                {name:'dengwei',age:22},
                {name:'ganwenwen',age:20},
                {name:'makexian',age:21},
                {name:'chenjinbo',age:15}
            ]
        },
        // computed:{
        //     items:function(){
        //           return this.items.sort();
        //     }
        // }
        //
//        computed:{
//            sortItems:function(){
//                return this.items.sort();
//            }
//        }

//        computed:vue里面的对象
         computed:{
             sortItems:function(){
                 return this.items.sort(sortNumber);
             },
             sortStudent:function(){
                 return sortByKey(this.students,'age');
             }
         }
    });
    //数组对象方法排序:
    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
//给数字排序方法
    function sortNumber(a,b){
        return a-b
    }
</script>
</body>
</html>